.split{
   display: grid;
   grid-template-columns: repeat(2, 50%);
}
.splittedList{
   margin-left:10px;
   max-height: 580px;
   overflow-x: scroll;
}
.splittedEvent{
   background-color: #393A3C;
   width:98%;
   padding:5px;
	margin-bottom:15px;
	border-radius:10px;
   text-align: center;
   text-decoration: none;
   color: white;
}
#did{
   font-size:12px;
   opacity: 0.7;
}